@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
    --radius: 0.625rem;
    --primary: #F15A24;
    --primary-foreground: #FFFFFF;
    --secondary: #000000;
    --secondary-foreground: #FFFFFF;
    --background: #FFFFFF;
    --foreground: #111827;
    --muted: #F3F4F6;
    --muted-foreground: #6B7280;
    /* ...остальные переменные как у вас сейчас... */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    /* ... */
}

@layer utilities {
    .wrapper {
        @apply max-w-7xl lg:mx-auto p-5 md:px-10 w-full;
    }

    .flex-start {
        @apply flex justify-start items-center;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }

    .h1-bold {
        @apply font-bold text-3xl lg:text-4xl;
    }

    .h2-bold {
        @apply font-bold text-2xl lg:text-3xl;
    }

    .h3-bold {
        @apply font-bold text-xl lg:text-2xl;
    }
}

@layer base {
    * {

    }

    body {
        @apply bg-background text-foreground;
    }
}